.text-hover-animaiton {
  line-height: 100%;
  display: inline-block;

  .menu-text {
    display: flex;
    overflow: hidden;
    text-shadow: 0 60px 0 var(--primary-color);

    &.black {
      text-shadow: 0 60px 0 var(--black-color);
    }

    &.white {
      text-shadow: 0 60px 0 var(--white-color);
    }

    div {
      display: block;
      backface-visibility: hidden;
      transition: transform 0.4s ease;
      transform: translateY(0); /* Đặt vị trí ban đầu */
    }
  }

  &:hover {
    --y: -15px; /* Chiều cao nhảy */
    cursor: pointer;

    .menu-text {
      div {
        --m: calc(62px * -1); /* Di chuyển ký tự lên */
        transform: translateY(var(--m)); /* Nhảy lên */

        // Tự động lặp qua các phần tử nth-child
        @for $i from 1 through 12 {
          &:nth-child(#{$i}) {
            transition-delay: #{0.05 * $i}s;
          }
        }
      }
    }
  }

  &:hover::after {
    /* Thêm hiệu ứng hiển thị lại */
    .menu-text {
      div {
        animation: returnToBase 0.4s ease-in-out forwards;
      }
    }
  }
}

/* Animation để chữ quay lại */
@keyframes returnToBase {
  0% {
    transform: translateY(calc(62px * -1)); /* Ở trạng thái cuối nhảy lên */
  }
  100% {
    transform: translateY(0); /* Trở lại vị trí ban đầu */
  }
}
